.pfp_img{
    width:25px;
    height:25px;
    margin-left:2px;
    margin-top:2px;
}
.slds-m-around_medium{
    margin-left:auto;
    margin-right:auto;
}

.game_title{
    font-size:6px;
}

.user_name{
    font-size:9px;
}

.view_count{
    font-size:10px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 5px;
    display:flex;
    justify-content: right;
}

.follow_list{
    font-size:10px;
    text-align: center;
    margin-bottom: 0;
    margin-top:50px;
    background-color: rgb(41, 33, 33);
    color: white;
}
.follow_card{
    margin-top:-10px;
}



