.thepost {
    background: #f0fbff;
    display: flex;
    flex-flow: row;
    padding: 1%;
    justify-content: left;
    text-align: left;
}

.stuff {
    position: relative;
    left: 22px;
    padding-right: 30px;
}

div,
span {
    border-radius: 6px;
}

.meta {
    font-size: smaller;
    position: relative;
    left: 6px;
    top:-2px;
}

.title {
    font-size: x-large;
    font-weight: bold;
}

.preview {
    position: relative;
    left: 6px;
}
.interact {
    font-size: small;

    position: relative;
    left: 12px;
    top: 4px;
}
