.icon, .info, .box {
    max-width: 22px;
    height:auto;
    display:flex;
    justify-items: center;
    align-items: center;
    border-style: none;
    
    padding: 1%;
    flex-direction: column;
}

.arrow {
    position: relative;
    left: 2px;
}